
<div class="divPrincipal">
  <header class="cabecalhoPrincipal">
    <app-header [barra]="drawer" class="bannerPrincipal"></app-header>
  </header>
</div>


<mat-sidenav-container class="layout-container">
    <mat-drawer-container class="layout-container" autosize hasBackdrop='false'>
      <mat-drawer #drawer opened class="layout-sidenav menuLateral"  mode="side" >
      
        <div id="scroll-area" class="navigation-hold"> 
          <mat-toolbar color="primary">Menu</mat-toolbar>

          <p-panelMenu [model]="itemsMenu" [style]="{'width':'300px'}"></p-panelMenu>

          <!-- app-sidenav [items]="menuItems" [hasIconMenu]="hasIconTypeMenuItem" [iconMenuTitle]="iconTypeMenuTitle"></app-sidenav-->
        </div> 
      
    </mat-drawer>
    
      <div id="scroll-container-area" class="layout-sidenav-content" class="navigation-hold">
        <p-breadcrumb [model]="itemsMenuBreadCrumb" [home]="home"></p-breadcrumb>

        <div [hidden]="!loading" class="loader">
        <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
        </div>

        <router-outlet></router-outlet>
      </div>
    
    </mat-drawer-container>
 
</mat-sidenav-container>  
